<p>Oi <%= @user.name %>!</p>
<p>Esqueceu sua senha? Clique no link abaixo para criar uma nova:</p>
<p><%= link("CRIAR NOVA SENHA", to: @reset_password_link) %></p>
<p>Se você não solicitou uma nova senha, por favor ignore este email.</p>
<p>Sua senha não será alterada se você não acessar o link acima e definir uma nova senha.</p>
